[run]
branch = True
source = proguard_mapping_parser

[paths]
source =
	src/proguard_mapping_parser
	.tox/*/lib/python*/site-packages/proguard_mapping_parser
	.tox/pypy*/site-packages/proguard_mapping_parser


[html]
directory = build/htmlcov


[xml]
output = build/coverage.xml
